/* Основные стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fdfdfd;
}

html {
    scroll-behavior: smooth;
}

/* Header */
header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/* Сетка для карточек */
.dishes-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Два столбца */
    gap: 16px;
    padding: 16px;
}

.dish-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    background-color: #fff;
}

.dish-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Медиазапросы */
@media screen and (max-width: 768px) {
    .dishes-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .dishes-grid {
        grid-template-columns: repeat(2, 1fr); /* Два столбца */
        gap: 8px;
        padding: 8px;
    }

    .dish-card {
        padding: 0.5rem;
    }

    .dish-card img {
        width: 100%;
        height: auto;
    }

    .dish-card p {
        font-size: 0.9rem;
    }
}
